.wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: 0;
  align-items: center;
  z-index: -5000;
}

.wrapper.open {
  z-index: 1000;
}

.outer {
  transition: 1s cubic-bezier(0.36, -0.01, 0, 0.77);
  display: flex;
  justify-content: space-evenly;
  /* background-color: black; */
  width: 30vw;
  margin: 0;
  height: 100%;
  z-index: 1600;
  right: 0;
  position: absolute;
  transition: 1s cubic-bezier(0.36, -0.01, 0, 0.77);
  margin-right: -25vw; 
}

.outer.open {
  margin-right: 0;
}

#toggle {
  height: 50px;
  width: 50px;
  margin: 20px;
}

.graphBox {
  z-index: inherit;
  margin: 0;
  width: 100%;
  height: 29vh;
  background-color: rgb(14, 14, 14);
  border-radius: 10px;
  padding: 0;
  opacity: 90%;
}

body {
  overflow: hidden;
}
