.App {
  text-align: center;
  position: relative;
}

.Map {
  z-index: 10;
}
.GraphBar {
  position: absolute;
  z-index: 1500;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: space-between;
}

.left {
  height: 100vh;
  width: 49.5vw;
  margin: 0;
  background-color: blueviolet;
}

.right {
  height: 100vh;
  width: 49.5vw;
  margin: 0;
  background-color: red;
}